@model SlideItem
@{
    ViewData["Title"] = "Delete";
}

<div class="col-12">
    <h1>Delete</h1>
    <h3>@Model.SubTitle</h3>
    <h2>@Model.Title</h2>
    <p>@Model.Desc</p>
    <h3>@Model.Button</h3>
</div>
<div class="col-12 mt-3">
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a class="btn btn-danger" asp-action="Index">Go Back</a>
</div>
